.ipynb_checkpoints/
__pycache__/

ANAD
EEKK
TESS
BAVED
SAVEE
ShEMO
VIVAE
CREMA-D
RAVDESS
CaFE_48k
JL corpus
emoSynth-DB
URDU-Dataset
Acted Emotional Speech Dynamic Database
LEGOv2
ShEMO
URDU-Dataset
KoreanEmotionSpeech
EmoV-DB_sorted

*.zip
